// Файл обнуления стиля
@import "nullstyle.scss";
//Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//Neucha
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Neucha&display=swap');

body{
	font-family: Montserrat;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
}

.container {
	width: 1280px;
	margin: 0px auto;
}
.footer{
	height: 20px;
	text-align: center;
	background: #dadde3;
}

.header {
	&__first {
		max-width: 1280px; 
		height: 400px;
		background: url('../img/the-road-5ee1d04143_1280.png') no-repeat;
	}
	&__logo {
	}
	&__logoitself{
		width: 100px;
		height: 65px;
		border-radius: 35%;
		margin: 40px 0px 0px 600px;
		box-shadow: 1px 1px 2px 1px;

	}
	&__h1 {
		font-family: Neucha;
		letter-spacing: 5px;
		font-weight: 700;
		font-size: 60px;
		color: white;
		text-shadow:
	    -0.5px -0.5px 0 #000,
	    0.5px -0.5px 0 #000,
	    -0.5px 0.5px 0 #000,
	    0.5px 0.5px 0 #000;
	    margin: 30px 0 0 510px;
	}
	&__underh1 {
		font-family: Neucha;
		line-height: 40px;
		max-width: 500px;
		letter-spacing: 5px;
		font-weight: 400;
		font-size: 35px;
		color: white;
		text-align: center;	
		text-shadow:
	    -0.5px -0.5px 0 #000,
	    0.5px -0.5px 0 #000,
	    -0.5px 0.5px 0 #000,
	    0.5px 0.5px 0 #000;
	    margin: 20px 0 0 410px;
	}
	&__gray{
		background: #daebe0;
	}
	&__second {
		// background: #5dc782;
		background: white;
	}
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item-container{
		font-size: 20px;
		margin: 0 20px 0 20px;

	}
	&__item1 {
		color: #0277bd;
		font-size: 25px;
	}
	&__item2 {
		color: #424242;
	}
	&__item3 {
		color: #424242;
	}
	&__item4 {
		color: #424242;
	}
}

.biology {
	&__flexrow {
		display: flex;
	}
	&__whatisbiology {}
	&__whatisbiology-header {
		margin: 30px 0 0 30px;
	}
	&__whatisbiology-header-a{
		font-size: 40px;
		color: #363434;
		font-weight: 400;
	}
	&__whatisbiology-body {
		color: #424242;
		font-style: italic;
		font-size: 20px;
		max-width: 600px;
		margin: 30px 0 0 30px;
	}
	&__whatisbiology-text1{
		line-height: 30px;

	}
	&__img {}
	&__img-itself {
		max-width: 600px;
		height: 300px;
		margin: 30px 0 0 30px;
		border: 10px solid pink;
	}
}
.sciences {
	&__row {
		display: flex;
		margin: 10px 220px 0 210px;
	}
	&__mainscience{
		display: block;
		margin: 50px 0 0 400px;
	}
	&__Biology-a{
		letter-spacing: 10px;
		font-size: 70px;
		color: #b84f4f;
		&:hover{
			color: #912323;
		}
	}
	&__arrowimg{
		max-width: 120px;
		height: 120px;
		opacity: 70%;
	}
	&__arrowimg1{
		margin: 0 0 0 70px;
	}
	&__arrowimg2{
		margin: 20px 0 0 50px;
	}
	&__arrowimg3{
	}
	&__botany-txt {
		font-size: 45px;
		color: #424242;
		&:hover{
			color: green;
		}
	}
	&__zoology-txt {
		font-size: 45px;
		color: #424242;
		&:hover{
			color: green;
		}
	}
	&__genetics-txt {
		font-size: 45px;
		color: #424242;
		&:hover{
			color: green;
		}
	}
}
.Botany {
	margin: 100px 0 0 0;
	&__firstbox {
		height: 559px;
		background: url('../img/nsip-home-hero_0.jpg');
		border-radius: 10%;
		box-shadow: 0 0 20px lightgreen;
	}
	&__head {
	    padding: 50px 0 0 100px;
	}
	&__head-a{
		font-size: 60px;
		color: white;
		text-shadow:
	    -0.5px -0.5px 0 #000,
	    0.5px -0.5px 0 #000,
	    -0.5px 0.5px 0 #000,
	    0.5px 0.5px 0 #000;
	    font-weight: 700;
	}
	&__txt {
		color: white;
		font-size: 24px;
		text-shadow:
	    -0.5px -0.5px 0 #000,
	    0.5px -0.5px 0 #000,
	    -0.5px 0.5px 0 #000,
	    0.5px 0.5px 0 #000;
	    font-style: italic;
	    max-width: 630px;
	    padding: 20px 0 0 100px;
	    line-height: 25px;
	}
	&__txt-1{

	}
	&__txt-2{
		padding: 15px 0 0 0;
	}
	&__txt-3{
		padding: 15px 0 0 0;

	}
	&__flowers {
		height: 300px;
	}
	&__secondbox {
		display: none;
		height: 500px;
		margin: 20px 0 0 0;
		border: 1px solid #000;
	}
	&__secondbox-flexraw {
		display: flex;
		border: 1px solid #000;
	}
	&__secondbox-flex1 {
		border: 1px solid #000;
	}
	&__secondbox-flex2 {
		border: 1px solid #000;
	}
	&__secondbox-flex3 {
		border: 1px solid #000;
	}
	&__secondbox-elem1 {}
	&__secondbox-elem2 {}
	&__secondbox-elem3 {}
}
.Zoology{
	margin: 100px 0 0 0;
	&__firstbox {
		height: 539px;
		background: url('../img/wildlife-page.jpg') 0 0/100% 100%;
		border-radius: 10%;
		box-shadow: 0 0 20px #52B4C0;
	}
	&__head {
	    padding: 50px 0 0 470px;
	}
	&__head-a{
		font-family: Neucha;
		letter-spacing: 8px;
		font-size: 70px;
		color: white;
		text-shadow:
	    -0.5px -0.5px 0 #000,
	    0.5px -0.5px 0 #000,
	    -0.5px 0.5px 0 #000,
	    0.5px 0.5px 0 #000;
	    font-weight: 700;
	}
	&__txt {
		color: white;
		font-size: 26px;
		text-shadow:
	    -0.5px -0.5px 0 #000,
	    0.5px -0.5px 0 #000,
	    -0.5px 0.5px 0 #000,
	    0.5px 0.5px 0 #000;
	    font-style: italic;
	    padding: 20px 0 0 0px;
	    line-height: 25px;
	}
	&__txt-1{
		font-size: 31px;
		text-align: center;
	}
	&__txt-23flex{
		display: flex;
		justify-content:space-between;
	}
	&__txt-2{
		margin: 60px 0 0 50px;
		line-height: 35px;
		text-align: center;
	}
	&__txt-3{
		margin: 60px 0 0 420px;
		max-width: 500px;
		line-height: 35px;
		text-align: center;
	}
}

.Genetics {
	margin: 100px 0 0 0;
	&__firstbox {
		height: 559px;
		background: url('../img/image.png') 0 0/100% 100%;
		border-radius: 10%;
		box-shadow: 0 0 20px cyan;
	}
	&__head {
	    padding: 50px 0 0 510px;
	}
	&__head-a{
		font-size: 60px;
		font-family: Neucha;
		letter-spacing: 6px;
		color: white;
		text-shadow:
	    -0.5px -0.5px 0 #000,
	    0.5px -0.5px 0 #000,
	    -0.5px 0.5px 0 #000,
	    0.5px 0.5px 0 #000;
	    font-weight: 700;
	}
	&__txt {
		color: white;
		font-size: 24px;
		text-shadow:
	    -0.5px -0.5px 0 #000,
	    0.5px -0.5px 0 #000,
	    -0.5px 0.5px 0 #000,
	    0.5px 0.5px 0 #000;
	    font-style: italic;
	    line-height: 30px;
	    display: flex;

	}
	&__txt-1{
		text-align: center;
		order: 2;
		max-width: 33.3%;
		font-size: 36px;
		line-height: 36px;
		margin: 55px 0 0 0;

	}
	&__flex2{
		margin: 20px 0 0 0;
		text-align: center;
		order: 1;
		max-width: 33.3%;
	}
	&__flex2-img{
		margin: 30px 0 0 0;
		max-width: 100px;
		height: 100px;
	}
	&__txt-2{
		
	}
	&__flex3{
		margin: 20px 0 0 0;
		text-align: center;
		order: 3;
		max-width: 33.3%;
	}
	&__flex3-img{
		margin: 30px 0 0 0;
		max-width: 100px;
		height: 100px;
	}
	&__txt-3{
		
	}
}
.thanks {
	margin: 150px 0 0 0;
	&__flex {
		margin: 30px 0 0 0;
		display: flex;
		justify-content: space-between;

	}
	&__flex1 {
		max-width: 50%;
	}
	&__f1head{
		font-size: 65px;
		color: #cc7c98;
		text-align: center;
	}
	&__f1txt{
		color: #424242;
		font-style: italic;
		font-size: 35px;
		line-height: 45px;
		margin: 30px 0 0 0;
		text-align: center;
	}
	&__flex2 {
		background: pink;
		margin: 0 50px 0 0;
	}
	&__flex2-img {
		height: 398px;
		max-width: 460px;
		border: 5px solid pink;
	}
}
.creator {
	margin: 75px 0 0 0;
	&__flex {
		margin: 30px 0 0 0;
		display: flex;
		justify-content: space-between;

	}
	&__flex2 {
		max-width: 50%;
		margin: 0 20px 0 0;
	}
	&__f2head{
		font-size: 65px;
		color: #f54242;
		text-align: center;
	}
	&__f2txt{
		color: #424242;
		font-style: italic;
		font-size: 35px;
		line-height: 45px;
		margin: 30px 0 0 0;
		text-align: center;
	}
	&__f1 {
		height: 350px;
		width: 451px;
		background: url('../img/ya.jpg') 0 0/100% 100%;
		border: 5px solid #f54242;
		margin: 0 0 70px 50px;
		&:hover{
			background: url('../img/tulen.jpg') 0 0/100% 100%;
		}
	}
	
}













